body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;

}

div {
  font-family: Roboto, Tahoma, sans-serif;
  margin: 0 auto;
  /* width: 100%; */
}

.nav{
  color: lightgrey;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  text-decoration: none;
  width: 100%;
}

.nav_column {
    float: left;
    width: max-content;
    z-index: 1;
}


.nav > .nav_column {
    padding: 16px 8px;
}

.h_margin{
  margin-left: 10px;
}

h1{
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 5px;
  text-transform: uppercase;
}

h2{
  color: darkgray;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: 200;
  margin: 5px;
}

h3{
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: 200;
  margin: 10px;
}

p{
  font-size: 16px;
  margin: 10px;
}

.cover{
  background-position: center;
  background-size: cover;
  height: 300px;
  position: absolute;
  width: 100%;
  z-index: -1;

}

.flex{
  color: darkgrey;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  /* margin-left: 20px; */
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;

  /* width: 100%; */
}

.tile {
  background-color:white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  /* border-radius: 3px; */
  color: darkslategray;
  display: inline-block;
  /* float: left; */
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  margin: 5px;
  /* width: max-content; */
  width: 600px;

}


.flex > .tile {
    padding: 0 0;
}

table, tr, tbody, td{
  border-width: 0;
  padding: 0 0;
  margin: 0 0;
  /* height: 150px; */
  border-spacing: 0;
  text-align: left;
}

td{
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.tile, .cursor {
  cursor: pointer
}

.modal {
  background-color: whitesmoke;
  /* display: none; */
  font-family: Roboto, Tahoma, sans-serif;
  height: 100%;
  /* max-height: 1000%; */
  left: 0;
  max-width: 100%;
  overflow: auto;
  /* padding-top: 100px; */
  position: fixed;
  top: 0;
  z-index: 1;
}

.close {
  color: black;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  right: 35px;
  top: 10px;
}

.close:hover,
.close:focus {
  color: #999;
  cursor: pointer;
  text-decoration: none;
}

.hidden{
  display: none;
}

.modalimage{
  float: left;
  padding: 2.5% 2.5%;
  /* padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 50px;
  padding-bottom: 50px; */
  width: 45%;
}

.center{
  text-align: center;
}

footer {
  background-color: black;
  bottom: 0;
  height: 30px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100%;
}

.foot{
  color: white;
  font-family: Roboto, Tahoma, sans-serif;
  line-height: 30px;
  margin: 0;
  text-align: center;
  vertical-align: middle;

}

.random{
  background-color: rgba(0,0,0,0.2);
  border-color:lightgrey;
  border-style: solid;
  border-width: 2px;
  font-size: 24px;
  height: 36px ;
  margin-top: 5px;
  width: 200px;

}

.button {
  background-color: #ddd;
  border: 0;
  cursor: pointer;
  margin: 6px;
  outline: none;
  padding: 12px 16px;

}

/* #myBtnContainer button{
  background-color: #ddd;
} */

/* #myBtnContainer button:hover{
  background-color: white;
} */

.button:hover, .selected {
  background-color: white;
}

.hide {
  display: none;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 4px;
}

.row {
  max-width: 600px;
}

/* Create four equal columns that floats next to each other */
.column {
    /* display: none; //hides elements by default, get shown with show class added */
    float: left;
    width: 32%;
}

/* Clear floats after rows */
.row:after {
  clear: both;
  content: "";
  display: table;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.timg{
  width: 400px;
}

.pimg{
  height: 250px;
}

/* @media screen and (max-device-width: 1200px) and (orientation: portrait){
    .tile {
        width: 600px;
    }
    .timg{
      width: 400px;
    }
    .pimg{
      height: 300px;
    }

}

@media screen and (min-device-width: 1200px) and (orientation: landscape){
    .tile {
        width: 600px;
    }
    .timg{
      width: 400px;
    }
    .pimg{
      height: 250px;
    }

} */
@media (min-resolution: 100dpi) {
  .tile {
      width: 1000px;
  }
  .timg{
    width: 400px;
  }
  p{
    font-size: 14px;
  }
}

@media (max-width: 600px) {
    .tile {
        width: 500px;
    }
    .timg{
      width: 300px;
    }
    .pimg{
      height: 300px;
    }

}
